<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    backupGlobals="false"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    colors="true"
    verbose="true"
>
    <coverage includeUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
            <directory suffix=".php">./iban/src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="GenkgoMail tests">
            <directory>./test/Unit</directory>
        </testsuite>
        <testsuite name="IBAN tests">
            <directory>./iban/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
